* *::before,
*::after {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 20px 20px;
  background-color: rgb(144, 86, 86);
}

article {
  background-color: burlywood;
  display: inline-block;
}

a[href^="https"] {
  text-decoration: none;
  color: rgb(144, 86, 86);
}

a[href^="#"] {
  text-decoration: none;
  color: burlywood;
}

h1 {
  color: darkslategray;
  font-size: 40px;
  padding: 40px 20px;
  border: none;
  border-radius: 4px;
  margin: 20px 0px;
  background-color: burlywood;
  width: 100%;
}

/*h1::before {
  content: icon;
} evtl. icon einfügen*/

/*was kann ich bei dem code direkt unten drunter besser machen?*/

section > article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu {
  width: 100%;
  flex-wrap: wrap;
  position: fixed;
  border: none;
  border-width: 2px;
  width: 100%;
  border-color: rgb(68, 115, 115);
  border-radius: 4px;
  background-color: darkslategray;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h2,
h3 {
  color: rgb(73, 126, 126);
}

img {
  border-radius: 4px;
  width: 25%;
  height: auto;
}

p {
  color: darkslategray;
}

ul {
  color: darkslategray;
}

.container {
  margin: 20px 0px;
  border: none;
  border-radius: 4px;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 500px;
  min-height: auto;
}

.list-style {
  list-style: url("#"); /*funktioniert noch nicht*/
}

footer {
  background-color: darkslategray;
  width: 100%;
}

footer > p,
footer > h2 {
  color: burlywood;
}

/*rgb(102, 77, 77); rgb(92, 145, 145)*/
